<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Recipes</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>My Recipes</h1>
    <a href="/recipes/new">Add New Recipe</a>

    <% if (recipes.length === 0) { %>
      <p>You have not created any recipes yet.</p>
    <% } else { %>
      <ul>
        <% recipes.forEach(recipe => { %>
          <li>
            <a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a>
            <a href="/recipes/<%= recipe._id %>/edit">Edit</a>
            <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST" style="display: inline;">
              <button type="submit">Delete</button>
            </form>
          </li>
        <% }); %>
      </ul>
    <% } %>
  </body>
</html>
